Postman
pop-shell
pulse
systemd
vivaldi
vivaldi-snapshot
xournalpp
nautilus
MongoDB Compass
microsoft-edge-dev
menus
JetBrains
ibus
google-chrome
google-chrome-beta
google-chrome-unstable
goa-1.0
gnome-session
gnome-control-center
github-copilot
forge
evolution
eog
enchant
dconf
composer
Code
chromium
BraveSoftware
autostart
1Password
obsidian
.gsd-keyboard.settings-ported
gnome-initial-setup-done
GNOME-xdg-terminals.list
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
backup
rofi.vboxuser
picom_ignore
obs-studio
libreoffice
totem
shotwell
i3-xdg-terminals.list
i3.log
QtProject.conf
git
.env
.oh-my-zsh/custom/
gtk-3.0/bookmarks
GNS3
discord
Electron
connections.db
cava
BetterDiscord*
VirtualBox
pavucontrol.ini 
spotify-tui
jgit
BeatPrints
.idea
libvirt
gtk-2.0
matplotlib
virt-viewer
autorandr
theme_manager
Cursor
act
create-next-app-nodejs
darktable
go
nextjs-nodejs
btop
htop
nitrogen
wallpapers
